<div class="headerIntro">
    <div class="backgroundImage" id="backgroundImage-1">
        <div class="backgroundImageCredit" alignment="true">AP file photo</div>
    </div>
    <h1 class="overlayText">Mike Schmidt</h1>
</div>

<div class="headerSection">
    <div class="BackgroundImageCaption">
        Mike Schmidt taking batting practice before a game in 1981.
    </div>
    <div class="headDisplay">
        <div class="subHead">
            The Phillies' greatest third baseman.
        </div>
        <div class="byline">
            Jonathan Tannenwald / Staff Writer, <a href="mailto:jtannenwald@phillynews.com">jtannenwald@phillynews.com</a>
            <div style="float:right;" class="custom-social-share" alignment="true">&nbsp;</div>
        </div>
        <div class="dateline">April 4, 2017</div>
    </div>
</div>

<div class="container bodyContainer" alignment="true">
    <div class="row" alignment="true">
        <div class="col-md-8 col col-md-offset-2" alignment="true">
            <p><span class="dropCap">I</span>n honor of the start of a new baseball season, we dug into our photo archives to take a look back at Phillies all-time great Mike Schmidt.</p>
                  <img  src="http://media.philly.com/images/RS596508_Mike-Schmidt-2.jpg" alt="" width="100%/">
                  <div class="containerPhotoCredit" alignment="true">Urban Archives / Temple University</div>
                  <div class="containerPhotoCaption" alignment="true">In 1976, the Phillies made the playoffs for the first time in 25 years. Big hitters Schmidt (right) and Greg Luzinski (left) helped lead the way.</div>

                  <div class="adUnitWrapper containerMedia containerInsertCenter" alignment="true">
                      <div class="adUnit" alignment="true">
                          <div id="div-gpt-ad-mrec-21" alignment="true">
                              <script alignment="true" type="text/javascript">
                                  // <![CDATA[
                                  cX.callQueue.push(['invoke', function() {
                                      googletag.cmd.push(function() {
                                          googletag.display('div-gpt-ad-mrec-21');
                                      });
                                  }]);
                                  // ]]>
                              </script>
                          </div>
                      </div>
                  </div>


            <img src="http://media.philly.com/images/RS596509_Mike-Schmidt-3.jpg" alt="" width="100%/">
            <div class="containerPhotoCredit" alignment="true">UAP file photo</div>
            <div class="containerPhotoCaption" alignment="true">Schmidt watches one of the 38 home runs he hit in 1976, the second of eight seasons in which he led the National League in home runs. In one April game, he hit four home runs in six at-bats against the Chicago Cubs.</div>
</div>
</div>
<div alignment="true" class="container">
<div alignment="true" class="row">
<div alignment="true" class="col-md-6 col col-md-offset-3">
          <img  src="http://media.philly.com/images/RS596510_Mike-Schmidt-4.jpg" alt="" width="100%/">
          <div class="containerPhotoCredit" alignment="true">Mike Feldman / UPI file photo</div>
          <div class="containerPhotoCaption" alignment="true">The Phillies won the National League East in 1978. During the postgame celebrations, Schmidt doused Daily News columnist Stan Hochman with champagne.</div>
      </div>
  </div>
</div>
<div class="row" alignment="true">
    <div class="col imagebreak">
        <img class="img-fluid" src="http://media.philly.com/images/RS596511_Mike-Schmidt-5.jpg" alt="" width="100%/">
        <div class="containerPhotoCredit" alignment="true">UPI file photo</div>
        <div class="containerPhotoCaption" alignment="true">Schmidt posed with his fellow starting infielders together at Spring Training in 1979. From left to right: Schmidt, shortstop Larry Bowa, second baseman Manny Trillo and first baseman Pete Rose.</div>
    </div>
</div>
</div>
</div>
<div alignment="true" class="container">
<div alignment="true" class="row">
<div alignment="true" class="col-md-8 col col-md-offset-2">
      <img  src="http://media.philly.com/images/RS596512_Mike-Schmidt-6.jpg" alt="" width="100%/">
      <div class="containerPhotoCredit" alignment="true">CHUCK ISAACS / Inquirer archives</div>
      <div class="containerPhotoCaption" alignment="true">Schmidt was a star on the Phillies team that won the 1980 World Series. Here he is jumping on a pile of players after the final out.</div>
  </div>
</div>
</div>
<div class="row" alignment="true">
<div class="col imagebreak">
    <img class="img-fluid" src="http://media.philly.com/images/RS596513_Mike-Schmidt-7.jpg" alt="" width="100%/">
    <div class="containerPhotoCredit" alignment="true">CLEM MURRAY / Staff Photographer</div>
    <div class="containerPhotoCaption" alignment="true">Schmidt won 10 Gold Glove awards, including nine straight from 1976 to 1985. Here he grabs a ground ball in a 1982 game against the San Francisco Giants.</div>
  </div>
  </div>
  </div>
</div>
  <div alignment="true" class="container">
  <div alignment="true" class="row">
  <div alignment="true" class="col-md-8 col col-md-offset-2">
  <img  src="http://media.philly.com/images/RS596514_Mike-Schmidt-8.jpg" alt="" width="100%/">
  <div class="containerPhotoCredit" alignment="true">RICK BOWMER / AP</div>
  <div class="containerPhotoCaption" alignment="true">In 1985, Schmidt was frustrated with the Phillies being stuck in fifth place in late June - and with how fans were treating him. He went on a rant to a reporter during a series in Montreal, calling Philadelphia fans a "mob scene," "uncontrollable" and "beyond belief." When the Phillies got home from the trip, Schmidt knew he was going to hear it from fans. To try to lighten the mood, he dressed up in a wig and sunglasses. All of a sudden, fans who had been booing started to cheer him.</div>

  <img src="http://media.philly.com/images/RS596515_Mike-Schmidt-10.jpg" alt="" width="100%/">
  <div class="containerPhotoCredit" alignment="true">Inquirer file photo</div>
  <div class="containerPhotoCaption" alignment="true">Schmidt won National League Most Valuable Player honors three times. Here he is in 1986 with the trophy for that year's award.</div>

</div>
</div>
</div>
<div class="row" alignment="true">
<div class="col imagebreak">
  <img class="img-fluid" src="http://media.philly.com/images/RS599565_AP_8707140243.jpg" alt="" width="100%/">
  <div class="containerPhotoCredit" alignment="true">ERIC RISBERG / AP</div>
  <div class="containerPhotoCaption" alignment="true">Schmidt was named an All-Star 12 times between 1974 and 1989. Here he is at the 1987 midsummer classic playing catch with his son before the game began.</div>
</div>
</div>
</div>
</div>
<div alignment="true" class="container">
<div alignment="true" class="row">
<div alignment="true" class="col-md-8 col col-md-offset-2">
  <img src="http://media.philly.com/images/RS596516_Mike-Schmidt-11.jpg" alt="" width="100%/">
  <div class="containerPhotoCredit" alignment="true">Daily News file photo</div>
  <div class="containerPhotoCaption" alignment="true">Schmidt announced his retirement from playing on May 29, 1989 at Veterans Stadium. The day before, he played his final game against the Giants in San Francisco.</div>
</div>
</div>
</div>
<div alignment="true" class="container">
<div alignment="true" class="row">
<div alignment="true" class="col-md-8 col col-md-offset-2">


<div class="adUnitWrapper containerMedia containerInsertCenter" alignment="true">
    <div class="adUnit" alignment="true">
        <div id="div-gpt-ad-mrec-22" alignment="true">
            <script alignment="true" type="text/javascript">
                // <![CDATA[
                cX.callQueue.push(['invoke', function() {
                    googletag.cmd.push(function() {
                        googletag.display('div-gpt-ad-mrec-22');
                    });
                }]);
                // ]]>
            </script>
        </div>
    </div>
</div>

</div>
</div>
</div>
<div alignment="true" class="container">
<div alignment="true" class="row">
<div alignment="true" class="col-md-10 col col-md-offset-1">
  <img src="http://media.philly.com/images/RS596517_Mike-Schmidt-12.jpg" alt="" width="100%/">
  <div class="containerPhotoCredit" alignment="true">Inquirer file photo</div>
  <div class="containerPhotoCaption" alignment="true">In 1995, Schmidt was inducted into the Baseball Hall of Fame. He went in with former Phillies player Richie Ashburn, who at the time broadcasted the team's games with Harry Kalas.</div>

  <img src="http://media.philly.com/images/RS596518_Mike-Schmidt-13.jpg" alt="" width="100%/">
  <div class="containerPhotoCredit" alignment="true">KATHY WILLENS / AP</div>
  <div class="containerPhotoCaption" alignment="true">In 2002, Schmidt re-joined the Phillies as a Spring Training instructor. Here he is in a batting cage with Scott Rolen (left) and Pat Burrell (center).</div>

  <img src="http://media.philly.com/images/RS596520_Mike-Schmidt-14.jpg" alt="" width="100%/">
  <div class="containerPhotoCredit" alignment="true">Inquirer file photo</div>
  <div class="containerPhotoCaption" alignment="true">In 2004, the Phillies unveiled a statue of Schmidt outside Citizens Bank Park.</div>
    </div>
</div>
